# Setup config
PORT="3000"

# Database config
POSTGRES_DB="codematch"
POSTGRES_USER="codematch"
POSTGRES_PASSWORD="<generate-a-random-password>"
DATABASE_URL="postgresql://codematch:<POSTGRES_PASSWORD>@localhost:5432/codematch?schema=public"

# Auth Secret
AUTH_JWT_SECRET="<generate-a-long-random-secret>"

# To add more config/env values
